<!DOCTYPE html>
<html>
<head>


<meta charset="UTF-8">
<title th:text="${title}"></title>

<div th:include="/common/layui"></div>
<div th:include="/common/jq"></div>

<link rel="stylesheet" href="/css/pc/base.css?v=11" />
<script	src="/js/utils.js"></script>

<!--添加 layui 自己的 css js  支持加载-->
<link href="/css/houtai/manage_base.css" rel="stylesheet" />
<script	src="/manage/manage_base.js"></script>
<!--添加 layui 自己的 css js  支持加载-->


</head>
<style>
body {
    padding-top: 0px;
}
</style>
<script>
//定义在外面。可以代码中  使用 table
var table;
layui.use([ 'laydate', 'laypage', 'layer','form', 'table', 'carousel',
			'upload', 'element' ], function() {
	table = layui.table;
});

//相当前刷新  重新加载
function reload_data(){
  table.reload('table', {
		where: {
	     },page: {curr: 1 //重新从第 1 页开始
				}
    });
}

function del(ids){
	var index = layer.load(1, {
		  shade: [0.1,'#fff'] //0.1透明度的白色背景
	});
	$.post('/admin/chat/delete',{ids:ids},function(result){
		if(result.success){
			layer.closeAll();
			layer.msg('删除成功');
			reload_data();
		}else{
			layer.closeAll();
			layer.msg(result.msg);
		}
	},'json');
}

function join(id){
	window.location.href = "/chat/"+id;
}

</script>
<body>

<div class="wrap">

<!-- 导航 -->
<div th:include="/pc/common/daohang" >
</div>
<!-- 导航 -->

<div class="model" style="background-color: white; " >
	<div class="content" style=" min-height: 700px; overflow: hidden; display: flex;display: -webkit-flex; ">
		<div th:include="/pc/member/left_menu.html" style="width: 250px; padding-top: 15px; padding-bottom: 15px; ">
		</div>
		
		<div style="flex:1;-webkit-flex:1;padding-top: 15px; ">
			<div class="layui-table-toolbar" style="margin-bottom: 3px; ">
				<div class="layui-btn-group">
					<button onclick="delSelected()" class="layui-btn layui-btn-sm layui-btn-danger"><i class="layui-icon">&#xe640;</i>删除</button>
				    <button class="layui-btn layui-btn-sm" onclick="reload_data()"><i class="layui-icon">&#xe669;</i>刷新</button>
			 	 </div>
			</div>
			<table class="layui-hide"   id="table" lay-filter="table"></table>
		</div>
	</div>
</div>

<!-- 底部 内容 模块 -->
<div  th:include="/pc/common/foot">
</div>
<!-- 底部 内容 模块 -->
			
</div>
</body>
<script type="text/html" id="table_bar">
<div class="layui-btn-group">
	<a class="layui-btn layui-btn-xs  layui-btn-danger" lay-event="del">删除</a>
	<a class="layui-btn layui-btn-xs  layui-btn-normal" lay-event="join">进入聊天室</a>
</div>
</script>
<script type="text/html" id="format_venue">
{{#  if(d.venue){ }}
{{ d.venue.title}}
{{#  }   }}
</script>
<script type="text/html" id="format_member">
{{#  if(d.member){ }}
{{ d.member.nickName}}
{{#  }    }}
</script>
<script>
	layui.use([ 'laydate', 'laypage', 'layer', 'table', 'carousel',
			'upload', 'element' ], function() {
		var laydate = layui.laydate //日期
		, laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		, table = layui.table //表格
		, carousel = layui.carousel //轮播
		, upload = layui.upload //上传
		, element = layui.element; //元素操作
			
		table.render({
			    elem: '#table'
			    ,url: '/api/chat/list1'
			    ,height: '630'
			    ,totalRow: true
				,cols: [ [
			       {checkbox: true, fixed: true}
			       ,{field:'venuename', title: '聊天课程', width:150,style:'font-size: 12px;' ,templet: '#format_venue' }
			      ,{field:'createDateTime', title: '聊天时间', width:150,style:'font-size: 12px;'  }
			      ,{fixed:'right', width:120,title: '操作',  toolbar: '#table_bar'}
			       ] ]
			    ,id: 'table'
			    ,page: true
			    ,limits:[500,1000,2000,3000],
			   limit:100
			  });
			
			//监听工具条 table_bar
			table.on('tool(table)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
				var data = obj.data //获得当前行数据
				, layEvent = obj.event; //获得 lay-event 对应的值
				if (layEvent === 'del') {
					del(data.id);
				}else if(layEvent === 'join'){
					join(data.venue.id);
				}
			});
			 
		
		
	});
</script>
</html>