<meta charset="UTF-8">

<ul class="layui-nav layui-nav-tree layui-inline" style=" height: 100%;">
  <li class="layui-nav-item layui-nav-itemed">
    <dl class="layui-nav-child">
      <dd><a href="/member/home">个人资料</a></dd>
      <dd><a href="/member/modifyPWD">修改密码</a></dd>
      <dd><a href="/collection/home">我的收藏</a></dd>
      <dd><a href="/chat/home">我的聊天</a></dd>
      <dd><a href="/member/order">我的订单</a></dd>
      <dd><a href="/member/coupon">我的优惠券</a></dd>
      <dd><a href="/member/note">笔记管理</a></dd>
      <dd><a href="/member/integral/exchange">积分兑换</a></dd>
      <dd><a href="/member/post/manage">发贴记录</a></dd>
    </dl>
  </li>
</ul>
